{% extends 'base.html' %}

{% block content %}
    <div class="w-100 p-2 row">
        <table class="table table-bordered table-sm text-center fs-6">
            <thead class="table-warning">
                <tr>
                    <th>Id</th>
                    <th>Categoria</th>
                    <th colspan="2">Acciones</th>
                </tr>
            </thead>
            {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.id }}</td>
                    <td>{{ categoria.categoria }}</td>
                    <td>
                        <a href="/" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
    </div>
{% endblock content %}